* {
    font-family: "Jersey 10","IBM Plex Sans Thai Looped", serif;
}

body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    
    
}
.ibm-plex-sans-thai-looped-thin {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-extralight {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-light {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-regular {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-medium {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-semibold {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-thai-looped-bold {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 700;
    font-style: normal;
  }
  

.jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.truemain {
    display: inline;
}

.main {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    font-size: 500%;
    border-radius: 3%;

    

    &::before {
        content: 'Decode';
        color: #ffffff;
        text-shadow:
            0 0 10px #D15BFC,
            0 0 21px #D15BFC,
            0 0 42px #D15BFC,
            0 0 82px #D15BFC,
            0 0 92px #ffffff,
            0 0 102px #ffffff,
            0 0 151px #ffffff;
           
    }

    &::after {
        content: ' MATH';
        color: white;
        background: linear-gradient(90deg, #4CFFF6 5%, #4CFFF6 15%, #4CFFF6 30%);
        -webkit-background-clip: text;
        -webkit-text-stroke: 5px transparent;
        color: #000;
        text-shadow: 0px 0px black;
    }
}

.main_ask {
    position: fixed;
    font-size: 150%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.ask {
    text-align: center;
    margin-top: 50px;
    font-size: 200%;
    width: 100%;
    border: 5px solid #4CFFF6;
    background-color: transparent;
    float: left;
    color: #ffffff;
    box-shadow:
        0 0 10px #4CFFF6,
        0 0 21px #4CFFF6,
        0 0 42px #ffffff;
}

.arrow {
    position: relative;
    left: 0px;
    top: 50px;
    border: solid rgb(255, 255, 255);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition-duration: 500ms;
    float: left;
}

.score {
    position: absolute;
    top: 88%;
    height: 5%;
    left: 3%;
    font-size: 45px;
    text-align: center;
    width: 5%;
    border: 5px solid #4CFFF6;
    color: #ffffff;
    border-radius: 10px;
           
    box-shadow: 
            0 0 10px #4CFFF6,
            0 0 21px #4CFFF6,
            0 0 42px #4CFFF6,
            
           
            0 0 102px #ffffff,
            0 0 151px #ffffff;
           ;

    &::after {
        content: '/10';
    }
}

.button_start {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    text-align: center;
    background-color: transparent;
    border: 5px solid #4CFFF6;
    color: #ffffff;
    border-radius: 2%;
    transition-duration: 500ms;
    display: inline;
}

.button_start:hover {
    background-color: #4CFFF6;
    box-shadow:
        0 0 10px #4CFFF6,
        0 0 21px #4CFFF6,
        0 0 42px #4CFFF6,
        0 0 82px #ffffff;
    color: rgb(255, 255, 255);
}

.button_start:hover .arrow {
    left: 7.5%;
    border: solid rgb(255, 255, 255);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.button_start:active {
    background-color: transparent;
    box-shadow: transparent;
}

.Ans_main {
    position: absolute;
    left: 0%;
    top: 600px;
    display: none;
    bottom: 1px;
    height: 1px;
}

.Ans {
    position: relative;
    width: 350px;
    margin: 61px;
    font-size: 200%;
    border-radius: 5%;
    background-color: transparent;
    border: 5px solid #4CFFF6;
    float: left;
    transition-duration: 500ms;
    color: #ffffff;
}

.icon_x {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: relative;
    transition-duration: 500ms;

    &:after {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\d7";
        font-size: 100px;
        color: #ffffff;
        line-height: 100px;
        text-align: center;
        display: none;
        transition-duration: 500ms;
    }
}

.Ans_text {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    float: left;
    transition-duration: 500ms;
}

.Ans:hover {
    background-color: #4CFFF6;
    box-shadow:
        0 0 10px #4CFFF6,
        0 0 21px #4CFFF6,
        0 0 42px #4CFFF6,
        0 0 82px #ffffff;
}

.Ans:active {
    background-color: transparent;
    box-shadow: transparent;
}


.Ans:hover .Ans_text {
    transform: translateX(-65%);
    color: aliceblue;
}

.Ans:hover .icon_x::after {
    display: inline;
}

.main_score {
    display: none;
}

.main_helper {
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.helper {
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #4CFFF6;
    font-size: 15px;
}

.some_helper {
    color: #D15BFC;
    cursor: pointer
}

@media (max-width: 1611px) {
    .main {
        width: 200%;
        top: 15px;
        font-size: 350%;
    }

    .Ans {
        width: 100%;
        margin: 5px;
        left: -75%;
        transform: translate(-50%,-50%);
        font-size: 100%;
    }

    .Ans_main {
        top: 70%;
        left: 75%;
        width: 20%;
        transform: translate(-50%, -50%);
    }

    .icon_x {
        height: 10px;
        width: 10px;

        &:after {
            top: -10px;
            font-size: 60px;
        }
    }

    .main_ask {
        position: absolute;
        top: 35%;
        transform: translate(-50%, -50%);
    }

    .ask {
        width: 100%;
        font-size: 130%;
    }

    .number {
        display: none;
    }

    .button_start {
        top: 80%;
        width: 30%;
    }

    .img {
        top: 280px;
        width: 30%;
    }

    .score {
        bottom: 88%;
        right: 1%;
        font-size: 200%;
        width: 10%;
    }

    .number_img {
        top: -1000px;
    }

    .button_start {
        font-size: 65%;
    }

    .arrow {
        top: 35px;
        border-width: 0 8px 8px 0;
    }

    .img {
        top: 40%;
        left: 50%;
    }
    

    
}

@media (max-width: 900px) {
    .button_start {
        width: 50%;
        height: 15%;
    }
    
    
}


@media (max-width: 600px) {
    .main {
        width: 300px;
        top: 15px;
        font-size: 250%;
    }

    .Ans_main {
        top: 75%;
        left: 50%;
        right: 100%;
        width: 100%;
    }

    .Ans {
        width: 170px;
        font-size: 90%;
        left: 25%;
        transform: translate(-50%,-50%);
    }

    .icon_x {
        height: 10px;
        width: 10px;

        &:after {
            top: -10px;
            font-size: 60px;
        }
    }

    .main_ask {
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    .ask {
        width: 140%;
        font-size: 110%;
    }

    .number {
        display: none;
    }

    .button_start {
        top: 80%;
        width: 80%;
    }

    .img {
        top: 280px;
        width: 80%;
    }

    .score {
        top: 94%;
        right: 1%;
        font-size: 200%;
        width: 20%;
    }

    .button_start {
        font-size: 65%;
    }

    .arrow {
        top: 35px;
        border-width: 0 8px 8px 0;
    }
}

@media (max-height: 750px) {
    .Ans_main {
        top: 85%;
        
    }
}

.higest_score {
    background-color: #000;
}

.higest_container {
    left: 90%;
}

.higest_m4  {
    position: absolute;
    bottom: 55%;
    left: 43.5%;
    font-size: 45px;
    width: 12%;
    height: 6%;
    border: 5px solid #4CFFF6;
    color: #ffffff;
    border-radius: 10px;

    &::before {
        content: 'M4 TOP';
        font-size: 75%;
    }
           
    &::after {
        content:'/10';
        font-size: 70%;
    }
}

@media (max-width: 2301px) {
    .Ans {
        left: 1%;
        bottom: 40px;
    }

} 


@media (max-width: 1887px) {
    .Ans {
        width: 320px;
        font-size: 150%;
    
    }
}

@media (max-width: 1767px) {
    .Ans {
        width: 300px;
        font-size: 150%;
    }
    .Ans_main {
        display: none;
        
    }
}

@media (max-width: 1700px) {
    .Ans {
        position: relative;
        width: 290px;
        margin: 3%;
        font-size: 120%;
        
    }
    .Ans_main {
        display: flex;
        right: 10px;
        
    }
}

@media (max-width: 1611px) {
    .Ans {
       
       width: 250px;
       font-size: 80%;
       bottom: 90px;
       left: -250px;
   }

    .Ans_main {
        display: none;
        
    }
   
}

@media (max-width: 1590px) {
    .Ans {
       width: 250px;
       font-size: 90%;
       bottom: 150px;
       left: -75%;
   }

    .Ans_main {
        display: none;
        
    }
   
}

@media (max-width: 1366px) {
    .Ans {
       width: 250px;
       font-size: 90%;
       bottom: 150px;
       left: -200px;
   }

    .Ans_main {
        display: none;
        
    }
   
}


@media (max-width: 1180px) {
     .Ans {
        width: 200px;
        font-size: 85%;
        bottom: 150px;
        left: -75%;
       
       
    }
    .Ans_main {
        display: none;
        
    }
    .img {
        width: 70%;
    }
}

@media (max-width: 1107px) {
    .Ans { 
        width: 200px;
        font-size: 80%;
        bottom: 75px;
   }
   .Ans_main {
       display: none;
       
   }
   .img {
       width: 70%;
   }
   .score {
       height: 5%;
   }
}


@media (max-width: 1024px) {
    .Ans {
        width: 300px;
        font-size: 90%;
        left: -72%;
        top: -95px;
    }
    .Ans_main {
        display: none;
        
    }

    .score {
        top: 92%;
        right: 1%;
        font-size: 300%;
        width: 15%;
        height: 5%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .Ans {
        width: 300px;
        font-size: 80%;
        left: -70%;
        top: -85px;
    }
    .Ans_main {
        display: none;
        
    }

    .score {
        top: 92%;
        right: 1%;
        font-size: 300%;
        width: 15%;
        height: 5%;
        text-align: center;
    }
}


@media (max-width: 820px) {
    .Ans {
        width: 300px;
        font-size: 100%;
        left: -70%;
        top: -100px;
    }
    .Ans_main {
        display: none;
        
    }

    .score {
        top: 92%;
        right: 1%;
        font-size: 300%;
        width: 15%;
        height: 5%;
        text-align: center;
    }
    .img {
        width: 70%;
        top: 30%;
    }
}


@media (max-width: 768px) {
    .Ans {
        width: 300px;
        font-size: 90%;
        left: -70%;
        top: -150px;
    }
    .Ans_main {
        display: none;
        
    }

    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }

    .img {
        width: 60%;
        top: 34%;

    }
}

@media (max-width: 600px) {
    .Ans {
        width: 300px;
        font-size: 80%;
        left: 48%;
        top: -190px;
    }
    .Ans_main {
        display: none;
        
    }

    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }
}

@media (max-width: 600px) {
    .Ans {
        width: 200px;
        font-size: 75%;
        left: 25%;
        top: -180px;
    }
    .Ans_main {
        display: none;
        
    }
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }
    .img {
        top: 35%;
    }
    
}

@media (max-width: 599px) {
    .Ans {
        width: 200px;
        font-size: 75%;
        left: 25%;
        top: -150px;
    }
    .Ans_main {
        display: none;
        
    }

@media (max-width: 500px) {
    .Ans {
        width: 200px;
        font-size: 75%;
        left: 25%;
        top: -20px;
    }
    .Ans_main {
        display: none;
        
    }
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }

    .img {
        width: 75%;
        top: 35%;
    }
    .ask {
        font-size: 90%;
    }
}

@media (max-width: 500px) {
    .Ans {
        width: 150px;
        font-size: 75%;
        left: 28%;
        top: -140px;
    }
    .Ans_main {
        display: none;
        
    }
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }

    .img {
        width: 75%;
        top: 35%;
    }
    .ask {
        font-size: 90%;
    }
}

@media (max-width: 454px) {
    .Ans {
        width: 150px;
        font-size: 75%;
        left: 28%;
        top: -120px;
    }
    .Ans_main {
        display: none;
        
    }
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }

    .img {
        width: 75%;
        top: 35%;
    }
    .ask {
        font-size: 90%;
    }
}

@media (max-width: 414px) {
    .Ans {
        width: 200px;
        font-size: 50%;
        left: 47%;
        margin-top: -10px;
        top: -200px;
        
    }
    .Ans_main {
        display: none;
        
        
    }
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }
    .img {
        width: 70%;
        top: 35%;
    }
}



@media (max-width: 390px) {
    .Ans {
        width: 200px;
        font-size: 60%;
        left: 47%;
        top: -150px;
        margin-top: 5px;
    }
    .Ans_main {
        display: none;
        
    }
    .img {
        top: 36%;
    }
}

@media (max-width: 375px) {
    .Ans {
        width: 200px;
        font-size: 50%;
        left: 47%;
        top: -200px;
    }
    .Ans_main {
        display: none;
        
    }
   
    .score {
        top: 92%;
        right: 1%;
        font-size: 200%;
        width: 15%;
        height: 5%;
    }


    
}

